<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monster killer... Grr... Grr...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">    
  <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallScreen.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="app">

        <div class="panel scores">
            <div class="score">
                <h1>Player</h1>
                <div class="life-bar">
                    <div class="life" 
                    :class="{danger: playerLife < 20}"
                    :style="{width: playerLife + '%'}">
                    </div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>

            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life" 
                    :class="{danger: monsterLife < 20}"
                    :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>

        <div v-if="hasResults" class="panel result">
            <div v-if="monsterLife == 0" class="win"> You have defeated the monster! Congratulations!</div>
            <div v-else class="lose"> You have been defeated by the Monster! Better luck next time!</div>
        </div>

        <div class="panel buttons">
            <template v-if="running">

                <button @click="attack(false)"
                class="btn attack">Attack</button>

                <button  @click="attack(true)"
                class="btn special-attack">Special Attack</button>

                <button @click="healAndHurt"
                class="btn heal">Heal</button>

                <button class="btn give-up" @click="running = false">Flee</button>
            </template>
            <template v-else>
                <button class="btn new-game" @click="startGame">Start</button>
            </template>
        </div>

        <div  v-if="logs.length" class="panel logs">
            <ul>
                <li 
                v-for="log in logs"
                :class="log.cls"
                class="log">{{ log.text }}</li>
            </ul>
        </div>

    </div>

    <script src="app.js"></script>
</body>
</html>